{% extends "base.html" %}

{% block content %}
<section>
    <h2>{{ legend }}</h2>
    <form method="POST" enctype="multipart/form-data"> <!-- Добавлено enctype="multipart/form-data" -->
        {{ form.hidden_tag() }}
        <div>
            {{ form.title.label }}
            {{ form.title(size=32) }}
        </div>
        <div>
            {{ form.content.label }}
            {{ form.content(rows=10) }}
        </div>
        <div>
            {{ form.image.label }}
            {{ form.image() }} <!-- Добавлено поле для загрузки файла -->
        </div>
        <div>
            {{ form.submit() }}
        </div>
    </form>
</section>
{% endblock %}
