{% extends "base.html" %}

{% block content %}
<section>
    <h2>Презентации</h2>
    {% for presentation in presentations %}
        <article>
            <h3>{{ presentation.title }}</h3>
            <div class="info_pres">
                <small>Автор: {{ presentation.author.name }} | Дата: {{ presentation.date_posted.strftime('%Y-%m-%d') }}</small>
            <br>
            </div>
            <div class="pres_but">
                    <a href="{{ url_for('routes.download_presentation', presentation_id=presentation.id) }}" class="btn btn-primary">Скачать</a>
            </div>
            
        </article>
    {% endfor %}
</section>
{% endblock %}
